<div class="parent">

     <div class="container py-5">

<h2 class="page-title">
<i class="fa-solid fa-utensils"></i>
Mess Details
</h2>

<div class="text-center mb-4">

<h4>Mess Name : <b>Mess A</b></h4>

<span class="badge bg-success">Open</span>

</div>

<div class="row g-4">

<!-- Students Card -->

<div class="col-md-4">

<div class="card card-box p-3">

<div class="d-flex justify-content-between">

<h5>Students</h5>

<i class="fa-solid fa-user-graduate stat-icon text-primary"></i>

</div>

<h2>120</h2>

<a routerLink="/studentManagement" class="btn btn-primary mt-2">

Manage Students

</a>

</div>

</div>


<!-- Employees Card -->

<div class="col-md-4">

<div class="card card-box p-3">

<div class="d-flex justify-content-between">

<h5>Employees</h5>

<i class="fa-solid fa-user-tie stat-icon text-success"></i>

</div>

<h2>6</h2>

<a routerLink="/employeeManagement" class="btn btn-success mt-2">

Manage Employees

</a>

</div>

</div>


<!-- Complaints Card -->

<div class="col-md-4">

<div class="card card-box p-3">

<div class="d-flex justify-content-between">

<h5>Complaints</h5>

<i class="fa-solid fa-triangle-exclamation stat-icon text-danger"></i>

</div>

<h2>3</h2>

<button routerLink="/complain" class="btn btn-danger mt-2">

View Complaints

</button>

</div>

</div>

</div>


<!-- Graph Section -->

<div class="row mt-5">

<div class="col-md-6">

<div class="card p-4">

<h5>

<i class="fa-solid fa-chart-column"></i>

Students Eating Last 30 Days

</h5>

<br>

<p>Day 1</p>
<div class="graph-bar" style="width:70%"></div>

<p>Day 2</p>
<div class="graph-bar" style="width:50%"></div>

<p>Day 3</p>
<div class="graph-bar" style="width:80%"></div>

<p>Day 4</p>
<div class="graph-bar" style="width:60%"></div>

<p>Day 5</p>
<div class="graph-bar" style="width:90%"></div>

</div>

</div>


<!-- Map Section -->

<div class="col-md-6">

<div class="card p-4">

<h5>

<i class="fa-solid fa-map-location-dot"></i>

Mess Location in School

</h5>

<div class="map-container mt-3">

<img src="https://images.unsplash.com/photo-1581092580497-e0d23cbdf1dc"
class="img-fluid">

</div>

</div>

</div>

</div>

</div>

</div>
