<div class="parent">


<div class="container py-5">

<h2 class="page-title">
<i class="fa-solid fa-utensils"></i>
Mess Summary Dashboard
</h2>

<button routerLink="/messManagement" class="btn btn-warning add-btn mb-4">
<i class="fa fa-plus"></i> Add New Mess
</button>


<div class="row g-4">

<!-- Mess Card 1 -->
<div class="col-md-4">

<div class="card mess-card p-3">

<div class="d-flex justify-content-between">

<h5>Mess A</h5>

<span class="badge badge-open">Open</span>

</div>

<div class="text-center my-3">
<i class="fa-solid fa-bowl-food icon-box"></i>
</div>

<div class="stats">

<p>
<i class="fa-solid fa-user-graduate text-primary"></i>
Students Registered : <b>120</b>
</p>

<p>
<i class="fa-solid fa-user-tie text-success"></i>
Employees : <b>6</b>
</p>

<p>
<i class="fa-solid fa-triangle-exclamation text-danger"></i>
Complaints : <b>2</b>
</p>

</div>

<button routerLink="/messDetails" class="btn btn-primary w-100">
View Details
</button>

</div>

</div>


<!-- Mess Card 2 -->

<div class="col-md-4">

<div class="card mess-card p-3">

<div class="d-flex justify-content-between">

<h5>Mess B</h5>

<span class="badge badge-closed">Closed</span>

</div>

<div class="text-center my-3">
<i class="fa-solid fa-utensils icon-box"></i>
</div>

<div class="stats">

<p>
<i class="fa-solid fa-user-graduate text-primary"></i>
Students Registered : <b>80</b>
</p>

<p>
<i class="fa-solid fa-user-tie text-success"></i>
Employees : <b>4</b>
</p>

<p>
<i class="fa-solid fa-triangle-exclamation text-danger"></i>
Complaints : <b>1</b>
</p>

</div>

<button routerLink="/messDetails"  class="btn btn-primary w-100">
View Details
</button>

</div>

</div>


<!-- Mess Card 3 -->

<div class="col-md-4">

<div class="card mess-card p-3">

<div class="d-flex justify-content-between">

<h5>Mess C</h5>

<span class="badge badge-rework">Under Rework</span>

</div>

<div class="text-center my-3">
<i class="fa-solid fa-hammer icon-box"></i>
</div>

<div class="stats">

<p>
<i class="fa-solid fa-user-graduate text-primary"></i>
Students Registered : <b>0</b>
</p>

<p>
<i class="fa-solid fa-user-tie text-success"></i>
Employees : <b>0</b>
</p>

<p>
<i class="fa-solid fa-triangle-exclamation text-danger"></i>
Complaints : <b>0</b>
</p>

</div>

<button routerLink="/messDetails"  class="btn btn-primary w-100">
View Details
</button>

</div>

</div>

</div>

</div>

</div>
